*.elc
*~
.*.lock
.cache/
/.emacs.desktop*
/auto-save-list/
/autoloads.el
/chatgpt/
/custom.el
/eln-cache/
/elpa/
/eshell/
/forge-*.sqlite
/info/
/init.el
/projects
/semanticdb
/transient
/tree-sitter
/var
\#*
